Sito/Connected Services/ServiceReference1/item4.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/server.Classi" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/server.Classi" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="ArrayOfProdotto">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Prodotto" nillable="true" type="tns:Prodotto" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfProdotto" nillable="true" type="tns:ArrayOfProdotto" />
  <xs:complexType name="Prodotto">
    <xs:sequence>
      <xs:element minOccurs="0" name="codice_prodotto" type="xs:long" />
      <xs:element minOccurs="0" name="data_uscita" type="xs:dateTime" />
      <xs:element minOccurs="0" name="genere" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="prezzo" type="xs:double" />
      <xs:element minOccurs="0" name="producer" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="quantità" type="xs:int" />
      <xs:element minOccurs="0" name="titolo" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Prodotto" nillable="true" type="tns:Prodotto" />
</xs:schema>