Sito/Connected Services/ServiceReference1/item1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/System" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/System" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:7793/Design_Time_Addresses/server/Service1/?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/server" />
  <xs:import schemaLocation="http://localhost:7793/Design_Time_Addresses/server/Service1/?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
  <xs:import schemaLocation="http://localhost:7793/Design_Time_Addresses/server/Service1/?xsd=xsd4" namespace="http://schemas.datacontract.org/2004/07/server.Classi" />
  <xs:complexType name="ValueTupleOfService1.EsitoUtentestringfzOYcB0X">
    <xs:annotation>
      <xs:appinfo>
        <GenericType Name="ValueTupleOf{0}{1}{2}{#}" Namespace="http://schemas.datacontract.org/2004/07/System" xmlns="http://schemas.microsoft.com/2003/10/Serialization/">
          <GenericParameter Name="Service1.Esito" Namespace="http://schemas.datacontract.org/2004/07/server" />
          <GenericParameter Name="Utente" Namespace="http://schemas.datacontract.org/2004/07/server" />
          <GenericParameter Name="string" Namespace="http://www.w3.org/2001/XMLSchema" />
        </GenericType>
        <IsValueType xmlns="http://schemas.microsoft.com/2003/10/Serialization/">true</IsValueType>
      </xs:appinfo>
    </xs:annotation>
    <xs:sequence>
      <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/server" name="Item1" type="q1:Service1.Esito" />
      <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/server" name="Item2" nillable="true" type="q2:Utente" />
      <xs:element name="Item3" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ValueTupleOfService1.EsitoUtentestringfzOYcB0X" nillable="true" type="tns:ValueTupleOfService1.EsitoUtentestringfzOYcB0X" />
  <xs:complexType name="ValueTupleOfService1.EsitoArrayOfProdottostringfIxKPqZh">
    <xs:annotation>
      <xs:appinfo>
        <GenericType Name="ValueTupleOf{0}{1}{2}{#}" Namespace="http://schemas.datacontract.org/2004/07/System" xmlns="http://schemas.microsoft.com/2003/10/Serialization/">
          <GenericParameter Name="Service1.Esito" Namespace="http://schemas.datacontract.org/2004/07/server" />
          <GenericParameter Name="ArrayOfProdotto" Namespace="http://schemas.datacontract.org/2004/07/server.Classi" />
          <GenericParameter Name="string" Namespace="http://www.w3.org/2001/XMLSchema" />
        </GenericType>
        <IsValueType xmlns="http://schemas.microsoft.com/2003/10/Serialization/">true</IsValueType>
      </xs:appinfo>
    </xs:annotation>
    <xs:sequence>
      <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/server" name="Item1" type="q3:Service1.Esito" />
      <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/server.Classi" name="Item2" nillable="true" type="q4:ArrayOfProdotto" />
      <xs:element name="Item3" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ValueTupleOfService1.EsitoArrayOfProdottostringfIxKPqZh" nillable="true" type="tns:ValueTupleOfService1.EsitoArrayOfProdottostringfIxKPqZh" />
</xs:schema>