Sito/Connected Services/ServiceReference1/item2.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:7793/Design_Time_Addresses/server/Service1/?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/server" />
  <xs:import schemaLocation="http://localhost:7793/Design_Time_Addresses/server/Service1/?xsd=xsd3" namespace="http://schemas.datacontract.org/2004/07/System" />
  <xs:element name="DoWork">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="DoWorkResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="Dowork1">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="arg" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Dowork1Response">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="Login">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/server" minOccurs="0" name="ut" nillable="true" type="q1:Utente" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="LoginResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/System" minOccurs="0" name="LoginResult" type="q2:ValueTupleOfbooleanUtenteijYHEZq_P" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Registrazione">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/server" minOccurs="0" name="ut" nillable="true" type="q3:Utente" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RegistrazioneResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/System" minOccurs="0" name="RegistrazioneResult" type="q4:ValueTupleOfbooleanUtenteijYHEZq_P" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>