Sito/Connected Services/ServiceReference2/admin.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="admin" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:8733/Design_Time_Addresses/server/admin/?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:8733/Design_Time_Addresses/server/admin/?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:8733/Design_Time_Addresses/server/admin/?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/server" />
      <xsd:import schemaLocation="http://localhost:8733/Design_Time_Addresses/server/admin/?xsd=xsd3" namespace="http://schemas.datacontract.org/2004/07/System" />
      <xsd:import schemaLocation="http://localhost:8733/Design_Time_Addresses/server/admin/?xsd=xsd4" namespace="http://schemas.datacontract.org/2004/07/server.Classi" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="Iadmin_DoWork_InputMessage">
    <wsdl:part name="parameters" element="tns:DoWork" />
  </wsdl:message>
  <wsdl:message name="Iadmin_DoWork_OutputMessage">
    <wsdl:part name="parameters" element="tns:DoWorkResponse" />
  </wsdl:message>
  <wsdl:message name="Iadmin_listaUtenti_InputMessage">
    <wsdl:part name="parameters" element="tns:listaUtenti" />
  </wsdl:message>
  <wsdl:message name="Iadmin_listaUtenti_OutputMessage">
    <wsdl:part name="parameters" element="tns:listaUtentiResponse" />
  </wsdl:message>
  <wsdl:message name="Iadmin_listaCommessi_InputMessage">
    <wsdl:part name="parameters" element="tns:listaCommessi" />
  </wsdl:message>
  <wsdl:message name="Iadmin_listaCommessi_OutputMessage">
    <wsdl:part name="parameters" element="tns:listaCommessiResponse" />
  </wsdl:message>
  <wsdl:message name="Iadmin_listaProdotti_InputMessage">
    <wsdl:part name="parameters" element="tns:listaProdotti" />
  </wsdl:message>
  <wsdl:message name="Iadmin_listaProdotti_OutputMessage">
    <wsdl:part name="parameters" element="tns:listaProdottiResponse" />
  </wsdl:message>
  <wsdl:message name="Iadmin_listaTransazioni_InputMessage">
    <wsdl:part name="parameters" element="tns:listaTransazioni" />
  </wsdl:message>
  <wsdl:message name="Iadmin_listaTransazioni_OutputMessage">
    <wsdl:part name="parameters" element="tns:listaTransazioniResponse" />
  </wsdl:message>
  <wsdl:portType name="Iadmin">
    <wsdl:operation name="DoWork">
      <wsdl:input wsaw:Action="http://tempuri.org/Iadmin/DoWork" message="tns:Iadmin_DoWork_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/Iadmin/DoWorkResponse" message="tns:Iadmin_DoWork_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="listaUtenti">
      <wsdl:input wsaw:Action="http://tempuri.org/Iadmin/listaUtenti" message="tns:Iadmin_listaUtenti_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/Iadmin/listaUtentiResponse" message="tns:Iadmin_listaUtenti_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="listaCommessi">
      <wsdl:input wsaw:Action="http://tempuri.org/Iadmin/listaCommessi" message="tns:Iadmin_listaCommessi_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/Iadmin/listaCommessiResponse" message="tns:Iadmin_listaCommessi_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="listaProdotti">
      <wsdl:input wsaw:Action="http://tempuri.org/Iadmin/listaProdotti" message="tns:Iadmin_listaProdotti_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/Iadmin/listaProdottiResponse" message="tns:Iadmin_listaProdotti_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="listaTransazioni">
      <wsdl:input wsaw:Action="http://tempuri.org/Iadmin/listaTransazioni" message="tns:Iadmin_listaTransazioni_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/Iadmin/listaTransazioniResponse" message="tns:Iadmin_listaTransazioni_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_Iadmin" type="tns:Iadmin">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="DoWork">
      <soap:operation soapAction="http://tempuri.org/Iadmin/DoWork" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="listaUtenti">
      <soap:operation soapAction="http://tempuri.org/Iadmin/listaUtenti" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="listaCommessi">
      <soap:operation soapAction="http://tempuri.org/Iadmin/listaCommessi" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="listaProdotti">
      <soap:operation soapAction="http://tempuri.org/Iadmin/listaProdotti" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="listaTransazioni">
      <soap:operation soapAction="http://tempuri.org/Iadmin/listaTransazioni" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="admin">
    <wsdl:port name="BasicHttpBinding_Iadmin" binding="tns:BasicHttpBinding_Iadmin">
      <soap:address location="http://localhost:8733/Design_Time_Addresses/server/admin/" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>