Sito/Connected Services/ServiceReference2/admin.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="admin" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:8733/Design_Time_Addresses/server/admin/?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:8733/Design_Time_Addresses/server/admin/?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:8733/Design_Time_Addresses/server/admin/?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/server" />
      <xsd:import schemaLocation="http://localhost:8733/Design_Time_Addresses/server/admin/?xsd=xsd3" namespace="http://schemas.datacontract.org/2004/07/System" />
      <xsd:import schemaLocation="http://localhost:8733/Design_Time_Addresses/server/admin/?xsd=xsd4" namespace="http://schemas.datacontract.org/2004/07/server.Classi" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="Iadmin_listaUtenti_InputMessage">
    <wsdl:part name="parameters" element="tns:listaUtenti" />
  </wsdl:message>
  <wsdl:message name="Iadmin_listaUtenti_OutputMessage">
    <wsdl:part name="parameters" element="tns:listaUtentiResponse" />
  </wsdl:message>
  <wsdl:message name="Iadmin_listaCommessi_InputMessage">
    <wsdl:part name="parameters" element="tns:listaCommessi" />
  </wsdl:message>
  <wsdl:message name="Iadmin_listaCommessi_OutputMessage">
    <wsdl:part name="parameters" element="tns:listaCommessiResponse" />
  </wsdl:message>
  <wsdl:message name="Iadmin_listaProdotti_InputMessage">
    <wsdl:part name="parameters" element="tns:listaProdotti" />
  </wsdl:message>
  <wsdl:message name="Iadmin_listaProdotti_OutputMessage">
    <wsdl:part name="parameters" element="tns:listaProdottiResponse" />
  </wsdl:message>
  <wsdl:message name="Iadmin_listaTransazioni_InputMessage">
    <wsdl:part name="parameters" element="tns:listaTransazioni" />
  </wsdl:message>
  <wsdl:message name="Iadmin_listaTransazioni_OutputMessage">
    <wsdl:part name="parameters" element="tns:listaTransazioniResponse" />
  </wsdl:message>
  <wsdl:message name="Iadmin_modificaUtente_InputMessage">
    <wsdl:part name="parameters" element="tns:modificaUtente" />
  </wsdl:message>
  <wsdl:message name="Iadmin_modificaUtente_OutputMessage">
    <wsdl:part name="parameters" element="tns:modificaUtenteResponse" />
  </wsdl:message>
  <wsdl:message name="Iadmin_eliminaUtente_InputMessage">
    <wsdl:part name="parameters" element="tns:eliminaUtente" />
  </wsdl:message>
  <wsdl:message name="Iadmin_eliminaUtente_OutputMessage">
    <wsdl:part name="parameters" element="tns:eliminaUtenteResponse" />
  </wsdl:message>
  <wsdl:message name="Iadmin_aggiungiUtente_InputMessage">
    <wsdl:part name="parameters" element="tns:aggiungiUtente" />
  </wsdl:message>
  <wsdl:message name="Iadmin_aggiungiUtente_OutputMessage">
    <wsdl:part name="parameters" element="tns:aggiungiUtenteResponse" />
  </wsdl:message>
  <wsdl:message name="Iadmin_modificaCommesso_InputMessage">
    <wsdl:part name="parameters" element="tns:modificaCommesso" />
  </wsdl:message>
  <wsdl:message name="Iadmin_modificaCommesso_OutputMessage">
    <wsdl:part name="parameters" element="tns:modificaCommessoResponse" />
  </wsdl:message>
  <wsdl:message name="Iadmin_eliminaCommesso_InputMessage">
    <wsdl:part name="parameters" element="tns:eliminaCommesso" />
  </wsdl:message>
  <wsdl:message name="Iadmin_eliminaCommesso_OutputMessage">
    <wsdl:part name="parameters" element="tns:eliminaCommessoResponse" />
  </wsdl:message>
  <wsdl:message name="Iadmin_aggiungiCommesso_InputMessage">
    <wsdl:part name="parameters" element="tns:aggiungiCommesso" />
  </wsdl:message>
  <wsdl:message name="Iadmin_aggiungiCommesso_OutputMessage">
    <wsdl:part name="parameters" element="tns:aggiungiCommessoResponse" />
  </wsdl:message>
  <wsdl:message name="Iadmin_modificaProdotto_InputMessage">
    <wsdl:part name="parameters" element="tns:modificaProdotto" />
  </wsdl:message>
  <wsdl:message name="Iadmin_modificaProdotto_OutputMessage">
    <wsdl:part name="parameters" element="tns:modificaProdottoResponse" />
  </wsdl:message>
  <wsdl:message name="Iadmin_eliminaProdotto_InputMessage">
    <wsdl:part name="parameters" element="tns:eliminaProdotto" />
  </wsdl:message>
  <wsdl:message name="Iadmin_eliminaProdotto_OutputMessage">
    <wsdl:part name="parameters" element="tns:eliminaProdottoResponse" />
  </wsdl:message>
  <wsdl:message name="Iadmin_aggiungiProdotto_InputMessage">
    <wsdl:part name="parameters" element="tns:aggiungiProdotto" />
  </wsdl:message>
  <wsdl:message name="Iadmin_aggiungiProdotto_OutputMessage">
    <wsdl:part name="parameters" element="tns:aggiungiProdottoResponse" />
  </wsdl:message>
  <wsdl:message name="Iadmin_modificaTransazione_InputMessage">
    <wsdl:part name="parameters" element="tns:modificaTransazione" />
  </wsdl:message>
  <wsdl:message name="Iadmin_modificaTransazione_OutputMessage">
    <wsdl:part name="parameters" element="tns:modificaTransazioneResponse" />
  </wsdl:message>
  <wsdl:message name="Iadmin_eliminaTransazione_InputMessage">
    <wsdl:part name="parameters" element="tns:eliminaTransazione" />
  </wsdl:message>
  <wsdl:message name="Iadmin_eliminaTransazione_OutputMessage">
    <wsdl:part name="parameters" element="tns:eliminaTransazioneResponse" />
  </wsdl:message>
  <wsdl:message name="Iadmin_aggiungiTransazione_InputMessage">
    <wsdl:part name="parameters" element="tns:aggiungiTransazione" />
  </wsdl:message>
  <wsdl:message name="Iadmin_aggiungiTransazione_OutputMessage">
    <wsdl:part name="parameters" element="tns:aggiungiTransazioneResponse" />
  </wsdl:message>
  <wsdl:portType name="Iadmin">
    <wsdl:operation name="listaUtenti">
      <wsdl:input wsaw:Action="http://tempuri.org/Iadmin/listaUtenti" message="tns:Iadmin_listaUtenti_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/Iadmin/listaUtentiResponse" message="tns:Iadmin_listaUtenti_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="listaCommessi">
      <wsdl:input wsaw:Action="http://tempuri.org/Iadmin/listaCommessi" message="tns:Iadmin_listaCommessi_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/Iadmin/listaCommessiResponse" message="tns:Iadmin_listaCommessi_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="listaProdotti">
      <wsdl:input wsaw:Action="http://tempuri.org/Iadmin/listaProdotti" message="tns:Iadmin_listaProdotti_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/Iadmin/listaProdottiResponse" message="tns:Iadmin_listaProdotti_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="listaTransazioni">
      <wsdl:input wsaw:Action="http://tempuri.org/Iadmin/listaTransazioni" message="tns:Iadmin_listaTransazioni_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/Iadmin/listaTransazioniResponse" message="tns:Iadmin_listaTransazioni_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="modificaUtente">
      <wsdl:input wsaw:Action="http://tempuri.org/Iadmin/modificaUtente" message="tns:Iadmin_modificaUtente_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/Iadmin/modificaUtenteResponse" message="tns:Iadmin_modificaUtente_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="eliminaUtente">
      <wsdl:input wsaw:Action="http://tempuri.org/Iadmin/eliminaUtente" message="tns:Iadmin_eliminaUtente_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/Iadmin/eliminaUtenteResponse" message="tns:Iadmin_eliminaUtente_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="aggiungiUtente">
      <wsdl:input wsaw:Action="http://tempuri.org/Iadmin/aggiungiUtente" message="tns:Iadmin_aggiungiUtente_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/Iadmin/aggiungiUtenteResponse" message="tns:Iadmin_aggiungiUtente_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="modificaCommesso">
      <wsdl:input wsaw:Action="http://tempuri.org/Iadmin/modificaCommesso" message="tns:Iadmin_modificaCommesso_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/Iadmin/modificaCommessoResponse" message="tns:Iadmin_modificaCommesso_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="eliminaCommesso">
      <wsdl:input wsaw:Action="http://tempuri.org/Iadmin/eliminaCommesso" message="tns:Iadmin_eliminaCommesso_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/Iadmin/eliminaCommessoResponse" message="tns:Iadmin_eliminaCommesso_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="aggiungiCommesso">
      <wsdl:input wsaw:Action="http://tempuri.org/Iadmin/aggiungiCommesso" message="tns:Iadmin_aggiungiCommesso_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/Iadmin/aggiungiCommessoResponse" message="tns:Iadmin_aggiungiCommesso_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="modificaProdotto">
      <wsdl:input wsaw:Action="http://tempuri.org/Iadmin/modificaProdotto" message="tns:Iadmin_modificaProdotto_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/Iadmin/modificaProdottoResponse" message="tns:Iadmin_modificaProdotto_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="eliminaProdotto">
      <wsdl:input wsaw:Action="http://tempuri.org/Iadmin/eliminaProdotto" message="tns:Iadmin_eliminaProdotto_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/Iadmin/eliminaProdottoResponse" message="tns:Iadmin_eliminaProdotto_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="aggiungiProdotto">
      <wsdl:input wsaw:Action="http://tempuri.org/Iadmin/aggiungiProdotto" message="tns:Iadmin_aggiungiProdotto_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/Iadmin/aggiungiProdottoResponse" message="tns:Iadmin_aggiungiProdotto_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="modificaTransazione">
      <wsdl:input wsaw:Action="http://tempuri.org/Iadmin/modificaTransazione" message="tns:Iadmin_modificaTransazione_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/Iadmin/modificaTransazioneResponse" message="tns:Iadmin_modificaTransazione_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="eliminaTransazione">
      <wsdl:input wsaw:Action="http://tempuri.org/Iadmin/eliminaTransazione" message="tns:Iadmin_eliminaTransazione_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/Iadmin/eliminaTransazioneResponse" message="tns:Iadmin_eliminaTransazione_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="aggiungiTransazione">
      <wsdl:input wsaw:Action="http://tempuri.org/Iadmin/aggiungiTransazione" message="tns:Iadmin_aggiungiTransazione_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/Iadmin/aggiungiTransazioneResponse" message="tns:Iadmin_aggiungiTransazione_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_Iadmin" type="tns:Iadmin">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="listaUtenti">
      <soap:operation soapAction="http://tempuri.org/Iadmin/listaUtenti" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="listaCommessi">
      <soap:operation soapAction="http://tempuri.org/Iadmin/listaCommessi" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="listaProdotti">
      <soap:operation soapAction="http://tempuri.org/Iadmin/listaProdotti" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="listaTransazioni">
      <soap:operation soapAction="http://tempuri.org/Iadmin/listaTransazioni" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="modificaUtente">
      <soap:operation soapAction="http://tempuri.org/Iadmin/modificaUtente" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="eliminaUtente">
      <soap:operation soapAction="http://tempuri.org/Iadmin/eliminaUtente" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="aggiungiUtente">
      <soap:operation soapAction="http://tempuri.org/Iadmin/aggiungiUtente" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="modificaCommesso">
      <soap:operation soapAction="http://tempuri.org/Iadmin/modificaCommesso" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="eliminaCommesso">
      <soap:operation soapAction="http://tempuri.org/Iadmin/eliminaCommesso" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="aggiungiCommesso">
      <soap:operation soapAction="http://tempuri.org/Iadmin/aggiungiCommesso" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="modificaProdotto">
      <soap:operation soapAction="http://tempuri.org/Iadmin/modificaProdotto" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="eliminaProdotto">
      <soap:operation soapAction="http://tempuri.org/Iadmin/eliminaProdotto" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="aggiungiProdotto">
      <soap:operation soapAction="http://tempuri.org/Iadmin/aggiungiProdotto" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="modificaTransazione">
      <soap:operation soapAction="http://tempuri.org/Iadmin/modificaTransazione" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="eliminaTransazione">
      <soap:operation soapAction="http://tempuri.org/Iadmin/eliminaTransazione" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="aggiungiTransazione">
      <soap:operation soapAction="http://tempuri.org/Iadmin/aggiungiTransazione" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="admin">
    <wsdl:port name="BasicHttpBinding_Iadmin" binding="tns:BasicHttpBinding_Iadmin">
      <soap:address location="http://localhost:8733/Design_Time_Addresses/server/admin/" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>