Sito/Connected Services/ServiceReference2/item.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:8733/Design_Time_Addresses/server/admin/?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/server" />
  <xs:import schemaLocation="http://localhost:8733/Design_Time_Addresses/server/admin/?xsd=xsd3" namespace="http://schemas.datacontract.org/2004/07/System" />
  <xs:import schemaLocation="http://localhost:8733/Design_Time_Addresses/server/admin/?xsd=xsd4" namespace="http://schemas.datacontract.org/2004/07/server.Classi" />
  <xs:element name="DoWork">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="DoWorkResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="listaUtenti">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/server" minOccurs="0" name="ut" nillable="true" type="q1:Utente" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="listaUtentiResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/System" minOccurs="0" name="listaUtentiResult" type="q2:ValueTupleOfadmin.EsitoArrayOfUtentestringfzOYcB0X" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="listaCommessi">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/server" minOccurs="0" name="ut" nillable="true" type="q3:Utente" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="listaCommessiResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/System" minOccurs="0" name="listaCommessiResult" type="q4:ValueTupleOfadmin.EsitoArrayOfCommessostringfIxKPqZh" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="listaProdotti">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q5="http://schemas.datacontract.org/2004/07/server" minOccurs="0" name="ut" nillable="true" type="q5:Utente" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="listaProdottiResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q6="http://schemas.datacontract.org/2004/07/System" minOccurs="0" name="listaProdottiResult" type="q6:ValueTupleOfadmin.EsitoArrayOfProdottostringfIxKPqZh" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="listaTransazioni">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q7="http://schemas.datacontract.org/2004/07/server" minOccurs="0" name="ut" nillable="true" type="q7:Utente" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="listaTransazioniResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q8="http://schemas.datacontract.org/2004/07/System" minOccurs="0" name="listaTransazioniResult" type="q8:ValueTupleOfadmin.EsitoArrayOfTransazionestringfIxKPqZh" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="modificaUtente">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q9="http://schemas.datacontract.org/2004/07/server" minOccurs="0" name="ut" nillable="true" type="q9:Utente" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="modificaUtenteResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q10="http://schemas.datacontract.org/2004/07/System" minOccurs="0" name="modificaUtenteResult" type="q10:ValueTupleOfadmin.EsitoUtentestringfzOYcB0X" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="modificaCommesso">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q11="http://schemas.datacontract.org/2004/07/server.Classi" minOccurs="0" name="comm" nillable="true" type="q11:Commesso" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="modificaCommessoResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q12="http://schemas.datacontract.org/2004/07/System" minOccurs="0" name="modificaCommessoResult" type="q12:ValueTupleOfadmin.EsitoCommessostringfIxKPqZh" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="modificaProdotto">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q13="http://schemas.datacontract.org/2004/07/server.Classi" minOccurs="0" name="prd" nillable="true" type="q13:Prodotto" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="modificaProdottoResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q14="http://schemas.datacontract.org/2004/07/System" minOccurs="0" name="modificaProdottoResult" type="q14:ValueTupleOfadmin.EsitoProdottostringfIxKPqZh" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="modificaTransazione">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q15="http://schemas.datacontract.org/2004/07/server.Classi" minOccurs="0" name="trn" nillable="true" type="q15:Transazione" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="modificaTransazioneResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q16="http://schemas.datacontract.org/2004/07/System" minOccurs="0" name="modificaTransazioneResult" type="q16:ValueTupleOfadmin.EsitoTransazionestringfIxKPqZh" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>